<div class="row align-items-center justify-content-center w-100">
  <div class="col-md-12 text-center my-auto">
    <!-- Dashboard Header -->
    <h2 class="text-left mb-4">{{ currentUser.username }}'s Dashboard:</h2>

    <!-- Alert section -->
    <!-- Success alert -->
    <div *ngIf="!error && message && submitted" class="alert alert-success alert-dismissable fade show mb-3 text-center" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Error Alert -->
    <div *ngIf="error && message" class="alert alert-danger alert-dismissable fade show mb-3 text-center" role="alert">
      Error: {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Account Management Section -->
    <div class="card border border-light rounded shadow mb-4">
      <div class="card-header"><h4 class="text-left">Account Management</h4></div>
      <div class="card-body">
        <form class="p-3" [formGroup]="managementForm" (ngSubmit)="onFormSubmit()">
          <!-- Change username section -->
          <div class="form-group text-left">
            <label>Change Username:</label>
            <input type="text" class="form-control" placeholder="New username" formControlName="newUsername" />
          </div>

          <!-- Change email section -->
          <div class="form-group text-left">
            <label>Change Email:</label>
            <input type="email" class="form-control" placeholder="New email" formControlName="newEmail" />
          </div>

          <!-- Change password section -->
          <div class="form-group text-left">
            <label>Change Password:</label>
            <input type="password" class="form-control" placeholder="New password" formControlName="newPassword" />
          </div>

          <!-- Apply changes button -->
          <button type="submit" class="btn btn-primary text-light float-left">Apply Changes</button>         
        </form>
      </div>
    </div>

    <!-- Delete Account button -->
    <button type="submit" class="btn btn-danger btn-block text-light mt-4" (click)="onDeletePress()">Delete Account</button>
    <div *ngIf="deletePressed">
      <div class="card border border-light rounded shadow mt-2">
        <div class="card-body">
          <h5 class="mb-2">Are you sure you want to delete your account?</h5>
          <button type="submit" class="btn btn-success text-light" (click)="onDeleteConfirm()"><strong>Yes</strong></button>
          &nbsp;
          <button type="submit" class="btn btn-danger text-light" (click)="onDeleteCancel()"><strong>No!</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>