<div class="row align-items-center justify-content-center w-100">
  <div class="col-md-6 text-center my-auto">
    <!-- Login success alert -->
    <div class="alert alert-success alert-dismissable fade show mb-3 text-center" role="alert" *ngIf="submitted && !error && message">
      Login successful!
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Login error alert -->
    <div class="alert alert-danger alert-dismissable fade show mb-3 text-center" role="alert" *ngIf="error && message">
      Login error: {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Login form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="border border-light p-4 rounded shadow">
      <!-- Login form header-->
      <h4 class="text-center mb-4">Login</h4>

      <!-- Username input field -->
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Username" formControlName="username" [ngClass]="{ 'is-invalid': (submitted && form.username.errors) || ((form.username.dirty || form.username.touched) && form.username.errors) }" />
        <div *ngIf="(submitted && form.username.errors) || ((form.username.dirty || form.username.touched) && form.username.errors)" class="invalid-feedback text-left">
          <div *ngIf="form.username.errors.required">Username is required</div>
        </div>
      </div>

      <!-- Password input field -->
      <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': (submitted && form.password.errors) || ((form.password.dirty || form.password.touched) && form.password.errors) }" />
        <div *ngIf="(submitted && form.password.errors) || ((form.password.dirty || form.password.touched) && form.password.errors)" class="invalid-feedback text-left">
          <div *ngIf="form.password.errors.required">Password is required</div>
        </div>
      </div>

      <!-- Submission button -->
      <button type="submit" class="btn btn-dark btn-block mb-2 text-light" [disabled]="!loginForm.valid || loading">Submit</button>
    </form>
  </div>
</div>