<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom mb-3 fixed-top">
    <!-- Navbar branding -->
    <a class="navbar-brand" routerLink="/"><img src="" width="32" height="32" class="d-inline-block align-top mr-2" />PDFBox</a> <!-- TODO: Need branding image icon -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
      <!-- Controls if user is logged in-->
      <div *ngIf="currentUser">
        <ul class="navbar-nav">
          <li class="nav-item mr-2"><span class="navbar-text">Hello, {{ currentUser.username }}!</span></li>
          <li class="nav-item"><a class="nav-link text-light" routerLink="/upload">Upload</a></li>
          <li class="nav-item"><a class="nav-link text-light" routerLink="/documents">Documents</a></li>
          <li class="nav-item"><a class="nav-link text-light" routerLink="/dashboard">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link text-light" (click)="logout()" style="cursor: pointer;">Logout</a></li>
        </ul>
      </div>

      <!-- Controls if user is not logged in -->
      <div *ngIf="!currentUser">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link text-light" routerLink="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link text-light" routerLink="/register">Register</a></li>
        </ul>
      </div>

      <!-- Navbar left side links -->
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item"><a class="nav-link text-light" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-light" routerLink="/convert">Convert</a></li>
      </ul>
    </div>
  </nav>
</header>