<div class="row align-items-center justify-content-center w-100">
  <div class="col-md-6 text-center my-auto">
    <!-- Registration form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="border border-light p-4 rounded shadow">
      <!-- Register Form Header -->
      <h4 class="text-center mb-4">Register</h4>

      <!-- Username Field -->
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Username" formControlName="username" [ngClass]="{ 'is-invalid': (submitted && form.username.errors) || ((form.username.dirty || form.username.touched) && form.username.errors) }" />
        <div *ngIf="(submitted && form.username.errors) || ((form.username.dirty || form.username.touched) && form.username.errors)" class="invalid-feedback text-left">
          <div *ngIf="form.username.errors.required">Username is required</div>
        </div>
      </div>

      <!-- Email Field -->
      <div class="form-group">
        <input class="form-control" type="email" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': (submitted && form.email.errors) || ((form.email.dirty || form.email.touched) && form.email.errors) }" />
        <div *ngIf="(submitted && form.email.errors) || ((form.email.dirty || form.email.touched) && form.email.errors)" class="invalid-feedback text-left">
          <div *ngIf="form.email.errors.required">Email is required</div>
          <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>

      <!-- Password Field -->
      <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': (submitted && form.password.errors) || ((form.password.dirty || form.password.touched) && form.password.errors) }" />
        <div *ngIf="(submitted && form.password.errors) || ((form.password.dirty || form.password.touched) && form.password.errors)" class="invalid-feedback text-left">
          <div *ngIf="form.password.errors.required">Password is required</div>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-dark btn-block mb-2 text-light" [disabled]="!registerForm.valid || loading">Submit</button>
    </form>
  </div>
</div>