<div class="row">
    <div class="col-md-12">
        <div id="dropzone">
            <form action="" class="dropzone needsclick dz-clickable" id="file-uploader">
                <div class="dz-message needsclick">Drag or Select Files to Upload...</div>
            </form>
        </div>
    </div>
</div>