<!-- TODO: This is 100% cosmetic right now, need to implement functionality -->
<div class="row justify-content-center align-items-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center">Login</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="login-username" placeholder="Username">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="login-username" placeholder="Password">
                </div>
                <button type="button" class="btn btn-dark btn-block">Login</button>
                <small id="forgot-password" class="form-text text-muted text-center mt-2"><a href="#">Forgot Password?</a></small> <!-- TODO: Forgot Password Link -->
            </div>
        </div>
    </div>
</div>