<div class="row">
  <div class="col-md-12">
    <h1 class="mb-3">About Us:</h1>

    <p>Hello and welcome to the newest venture of Totally Not Made Up Inc. , <b>PDFBox</b>. PDFBox is the our first venture
      into the digital space. We are aiming to provide our world renown service on the web by investing in PDFBox and our
      digital development team. The digital development team was established in January of 2019. Lets introduce our digital team. </p>
    <ul>
      <li>Kyrne Beauford</li>
      <li>Charlie Boggus</li>
      <li>Kyle Kempf</li>
      <li>Carson Susich</li>
      <li>Sean Walston</li>
    </ul>

    <h3>Totally Not Made Up INC.</h3>

    <p>Totally Not Made Up Inc. or TNMU was founded in 1505 in by Lenard Da Vucci in Florence, Italy during the Renaissance. 
      We opened our doors during a cultural revolution as a reprint shop. Many of the expansive writings and paintings were 
      reprinted by TNMU and Lenard Da Vucci. In fact the first reprints of Leonardo Da Vinci’s Mona Lisa were created by 
      Totally Not Made Up INC. The mass production of Machiavelli’s the Prince were printed by TNMU.  </p>

    <p>By the 1540’s we had expanded all across Europe and opened our second largest office in London England.
       Here we continued our work and created the world’s greatest printing press.  With our innovative process we were
        able to spread Royal Decrees at an incredible rate. Martin Luther’s 95 theses were mass printed by TNMU. 
        The work of Shakespeare reached the masses through TNMU and the first trade agreements written by the East India Trading Company 
        were produced by the people at Totally Not Made Up Inc. </p>

    <p>Then we expanded into the America’s. Totally Not Made Up Inc. was the first company to mass produce the Declaration of Independence
       as well as the Constitution and Bill of Rights. Without TNMU America may not look the way it does today. We continued to serve America
        and the World serving as the mass production center for America’s great newspapers. The NY Times and Boston Globe as well as 95% of the
         newspapers across America and the world are produced by Totally Not Made Up Inc. But today the world has gone digital which is why we 
         have decided to make our first venture into the digital space now with PDFBox. </p>

    <h3>PDFBox</h3>
    <p>PDFBox is the first digital venture Totally Not Made Up Inc has made to date. The vision behind PDFBox
       was for us to continue our commitment to high quality document creation in the digitial age. With PDFBox 
       our hope is to become the go to destination when creating PDF documents whether they be for school projects
        or professional meetings. Our PDF creation technology was worked on tirelessly by our development team and
        now it’s ready to show to the world. </p>
  
    <p>No longer will you have to worry about documents being formatted improperly when sent to another machine. 
      Our patented process allows users to create and store a number of pdf documents in our secure database. 
      Our database supports PDF creation for Word, Excel and Powerpoint documents. Instead of using some sketchy 
      site that’s going to expose your computer to harmful viruses and invasive ads PDFBox provides users with a safe
       environment and ads that have been screened and curated to be minimally invasive. </p>

    <p>Our hope is that PDFBox can capitalize on the common google search of how to convert from word to pdf and become the top
       hit in such a search. In doing so we believe that we can generate a large amount of web traffic to our site. We then believe
        that we can get users to store their documents in our secure database. With this we see a future potential to create a premium
        account system wherein users can be granted more database storage and directly compete with google drive and dropbox in the future.
        For now our focus is on creating a safe, secure and reliable environment for our users to utilize for all their pdf conversion needs.</p>

    <p>If you feel you support our vision and would like to advertise please visit our contact page and send us a message.
      We will get back to you as soon as possible about a potential partnership.
    </p>

    

    <small class="mt-2 float-right"><b>Effective date: April 07, 2019</b></small>
  </div>
</div>