<div class="row align-items-center justify-content-center w-100">
  <div class="col-md-6 text-center my-auto">

    <!-- Alert for when message was successfully sent -->
    <div class="alert alert-success alert-dismissable fade show mb-3 text-center" role="alert" *ngIf="formSubmitted && success">
      Your message has been sent!
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Alert for when message send failure -->
    <div class="alert alert-danger alert-dismissable fade show mb-3 text-center" role="alert" *ngIf="formSubmitted && !success">
      There was an error sending your message.
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Contact Form -->
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="border border-light p-4 rounded shadow">
      <!-- Form Header -->
      <h4 class="text-center mb-4">Contact us</h4>

      <!-- Name input field -->
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': (form.name.dirty || form.name.touched) && form.name.errors }" />
        <div *ngIf="(form.name.dirty || form.name.touched) && form.name.errors" class="invalid-feedback text-left">
          <div *ngIf="form.name.errors.required">Name is required.</div>
        </div>
      </div>

      <!-- Email input field -->
      <div class="form-group">
        <input class="form-control" type="email" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': (form.email.dirty || form.email.touched) && form.email.errors }" />
        <div *ngIf="(form.email.dirty || form.email.touched) && form.email.errors" class="invalid-feedback text-left">
          <div *ngIf="form.email.errors.required">Email is required.</div>
          <div *ngIf="form.email.errors.email">Email must be a valid email address.</div>
        </div>
      </div>

      <!-- Message box input field -->
      <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="Enter your message..." formControlName="message" [ngClass]="{ 'is-invalid': (form.message.dirty || form.message.touched) && form.message.errors }"></textarea>
        <div *ngIf="(form.message.dirty || form.message.touched) && form.message.errors" class="invalid-feedback text-left">
          <div *ngIf="form.message.errors.required">Message is required.</div>
        </div>
      </div>

      <!-- TODO: maybe add ReCaptcha? -->

      <!-- Submission button -->
      <button type="submit" class="btn btn-dark btn-block mb-2 text-light" [disabled]="!contactForm.valid || formSubmitted">Submit</button>
    </form>
  </div>
</div>