<footer class="border-top text-muted" id="pageFooter">
  <div class="container">
    <!-- Copyright stuff -->
    <div class="float-left">&copy; 2019 PDFBox. All rights reserved.</div>

    <!-- Footer Links -->
    <div class="float-right">
      <a href="https://github.com/charlieboggus/SP19-AMIS-3610-Group-Project">Github</a>
      &nbsp;&nbsp;
      <a routerLink="/privacy">Privacy</a>
      &nbsp;&nbsp;
      <a routerLink="/faq">FAQ</a>
      &nbsp;&nbsp;
      <a routerLink="/contact">Contact</a>
      &nbsp;&nbsp;
      <a routerLink="/aboutus">About Us</a>
    </div>
  </div>
</footer>