.drop-zone {
    height: 200px;
    width: 100%;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    border: dotted 2px lightgray;
    background-color: rgb(236, 236, 236);
}

.drop-zone-hover {
    border: dotted 2px red;
}